<!-- <h2 id="__comments">comments</h2>
<script src="https://giscus.app/client.js"
        data-repo="mzeromiko/blogs"
        data-repo-id="your repo-id"
        data-category="Announcements"
        data-category-id="your category-id"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en-US"
        crossorigin="anonymous"
        async>
</script> -->
